.showcase{
    width: 85%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.showcase .leftContainer{
    width: 58.2%;
}

.showcase .leftContainer img {
    border-radius: 5px;
}

.showcase .rightContainer{
    width: 41%;
    text-align: left;
}

.showcase .rightContainer img {
    width: 95%;
    border-radius: 5px;  
}